{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-use-before-define": 2,
    "no-underscore-dangle": 0,
    "no-console": 0,
  },
  "plugins": [
    "chai-friendly"
  ],
  "env": {
    "jest": true
  }
}
